@font-face {
    font-family: 'dana-regular';
    src: url('../assets/fonts/dana/woff/DanaFaNum-Regular.woff') format('woff'),
    url('../assets/fonts/dana/woff2/DanaFaNum-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'dana-bold';
    src: url('../assets/fonts/dana/woff/DanaFaNum-Bold.woff') format('woff'),
    url('../assets/fonts/dana/woff2/DanaFaNum-Bold.woff2') format('woff2');
}